/* Global styles are now handled by Material UI ThemeProvider and CssBaseline */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swipe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
